## Import library

In [9]:
import pandas as pd
import numpy as np
from collections import Counter

#Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
sns.set(font_scale=1)
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

## Load Data
meload data dan konversi tag dan token menuju bentuk angka, untuk CRF

In [10]:
data = pd.read_csv("../Dataset/annotated_ner_data_new.csv")
data

                          token ner             tweet_id  index
0                         Hidup   O  1382601382042103808      0
1                       sesedih   O  1382601382042103808      1
2                           dan   O  1382601382042103808      2
3                       secaper   O  1382601382042103808      3
4                           apa   O  1382601382042103808      4
...                         ...  ..                  ...    ...
170065                   muntah   O  1386004972207153156      5
170066               Ngabuburit   O  1386301391086309382      0
170067                     tadi   O  1386301391086309382      1
170068                     sore   O  1386301391086309382      2
170069  https://t.co/13WztrZOAX   O  1386301391086309382      3

[170070 rows x 4 columns]

In [11]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['token'].to_list()))
    else:
        vocab = list(set(data['ner'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [12]:
data['token_idx'] = data['token'].map(token2idx)
data['ner_idx'] = data['ner'].map(tag2idx)
data.head()

     token ner             tweet_id  index  token_idx  ner_idx
0    Hidup   O  1382601382042103808      0      14774        9
1  sesedih   O  1382601382042103808      1      13688        9
2      dan   O  1382601382042103808      2      19108        9
3  secaper   O  1382601382042103808      3      17427        9
4      apa   O  1382601382042103808      4       8317        9

In [13]:
# Fill na
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['tweet_id'],as_index=False
)['token', 'ner', 'token_idx', 'ner_idx'].agg(lambda x: list(x))
# Visualise data
data_group.head()

ipykernel_launcher:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,tweet_id,token,ner,token_idx,ner_idx
0,1380681275594305537,"[@ridwankamil, @KickAndyShow, @Metro_TV, Upaya...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-P...","[7429, 19259, 28344, 18767, 13933, 18204, 1401...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 6, ..."
1,1380685209075544064,"[@GyuuPotter, iyhh, ,, soalnya, mwu, kerjain, ...","[O, O, O, O, O, O, O, O]","[26285, 20550, 10560, 16466, 21996, 5742, 1252...","[9, 9, 9, 9, 9, 9, 9, 9]"
2,1380685355897085952,"[@ShopeeID, Bismillah, yok, menang, ����, SHOP...","[O, O, O, O, O, B-PROD, O, O, O, O]","[30694, 16325, 6049, 13298, 7045, 22088, 30694...","[9, 9, 9, 9, 9, 7, 9, 9, 9, 9]"
3,1380686115007393792,"[udah, 2, mingguan, tinggal, bareng, teteh, ,,...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-LOC,...","[706, 13336, 7454, 8032, 9392, 7487, 10560, 13...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 11, 9,..."
4,1380688640611786754,"[@ShopeeID, Potong, buah, semangka, pakai, ala...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-ORG,...","[30694, 10366, 26958, 29080, 23617, 24744, 198...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 1, 9, ..."

### contoh konversi

In [14]:
data_group[data_group.tweet_id==1382601382042103808]

,tweet_id,token,ner,token_idx,ner_idx
1376,1382601382042103808,"[Hidup, sesedih, dan, secaper, apa, yak, nyamp...","[O, O, O, O, O, O, O, B-PROD, O, B-PROD, O, O,...","[14774, 13688, 19108, 17427, 8317, 5731, 16172...","[9, 9, 9, 9, 9, 9, 9, 7, 9, 7, 9, 9, 9, 9, 9, ..."

In [15]:
data[data.tweet_id==1382601382042103808]

        token     ner             tweet_id  index  token_idx  ner_idx
0       Hidup       O  1382601382042103808      0      14774        9
1     sesedih       O  1382601382042103808      1      13688        9
2         dan       O  1382601382042103808      2      19108        9
3     secaper       O  1382601382042103808      3      17427        9
4         apa       O  1382601382042103808      4       8317        9
5         yak       O  1382601382042103808      5       5731        9
6   nyamperin       O  1382601382042103808      6      16172        9
7          ig  B-PROD  1382601382042103808      7      27683        7
8        atau       O  1382601382042103808      8      25611        9
9     youtube  B-PROD  1382601382042103808      9      11923        7
10        tim       O  1382601382042103808     10       2588        9
11       lain       O  1382601382042103808     11      19142        9
12       cuma       O  1382601382042103808     12      22770        9
13       buat       O  1382601382042103808     13       7402        9
14    ngatain       O  1382601382042103808     14      22699        9
15          ,       O  1382601382042103808     15      10560        9
16   perasaan       O  1382601382042103808     16      17819        9
17       dari       O  1382601382042103808     17      19556        9
18       dulu       O  1382601382042103808     18      15107        9
19        gua       O  1382601382042103808     19      20658        9
20    ngefans       O  1382601382042103808     20       4158        9
21       bola       O  1382601382042103808     21      13869        9
22      orang       O  1382601382042103808     22      25276        9
23       pada       O  1382601382042103808     23      14401        9
24     santai       O  1382601382042103808     24      33677        9
25         eh       O  1382601382042103808     25      21975        9
26         di       O  1382601382042103808     26       2599        9
27         ml  B-PROD  1382601382042103808     27      22266        7
28          !       O  1382601382042103808     28      24336        9
29      malah       O  1382601382042103808     29      19028        9
30     gini��       O  1382601382042103808     30      19882        9

## memberi label one-hot encoding

In [16]:
# input: list of row -> [token, tag]
# output: list of all [full_entities,  NE] (O is excluded)
def get_entities(row):
    full_entities = []
    prev_tag = "O" #init default tag
    for i in range(len(row.token)):
        start_tag=row.ner[i][:1]
        tag= row.ner[i][2:] if row.ner[i] !='O' else 'O'
        if tag == "O":
            prev_tag = tag
            continue

        if start_tag == 'B': # Begin NE
            full_entities.append([row.token[i], tag])
        elif start_tag == 'I' and prev_tag == tag: # Inside NE
            full_entities[-1][0]  = full_entities[-1][0]+" "+ row.token[i]
        prev_tag = tag
    return full_entities


# input: list of fullentities with the tag
# output: mapping of one hot encoding
def one_hot_enc(ls):
    # print(list(ls[0].items()))
    dc={
        'PER':0,
        'LOC':0,
        'ORG':0,
        'PROD':0,
        'WA':0,
        'EV':0
    }

    for i,j in list(ls[0].items()):
        # dc[i]=j
        dc[i]=1
    # print(dc)
    return ''.join([str(i) for i in dc.values()])

In [17]:
data_group=data_group.assign(entities=[get_entities(i[1]) for i in data_group.iterrows()])
data_group=data_group.assign(count_entities=[[ Counter(j for _,j in i[1].entities)] for i in data_group.iterrows()])
data_group=data_group.assign(onehot_entities=[one_hot_enc(i[1].count_entities) for i in data_group.iterrows()])

In [18]:
data_group[data_group.tweet_id==1382601382042103808]

,tweet_id,token,ner,token_idx,ner_idx,entities,count_entities,onehot_entities
1376,1382601382042103808,"[Hidup, sesedih, dan, secaper, apa, yak, nyamp...","[O, O, O, O, O, O, O, B-PROD, O, B-PROD, O, O,...","[14774, 13688, 19108, 17427, 8317, 5731, 16172...","[9, 9, 9, 9, 9, 9, 9, 7, 9, 7, 9, 9, 9, 9, 9, ...","[[ig, PROD], [youtube, PROD], [ml, PROD]]",[{'PROD': 3}],000100

In [19]:
data_group.head()

,tweet_id,token,ner,token_idx,ner_idx,entities,count_entities,onehot_entities
0,1380681275594305537,"[@ridwankamil, @KickAndyShow, @Metro_TV, Upaya...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-P...","[7429, 19259, 28344, 18767, 13933, 18204, 1401...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 6, ...","[[gubernur, PER], [jabar, LOC]]","[{'PER': 1, 'LOC': 1}]",110000
1,1380685209075544064,"[@GyuuPotter, iyhh, ,, soalnya, mwu, kerjain, ...","[O, O, O, O, O, O, O, O]","[26285, 20550, 10560, 16466, 21996, 5742, 1252...","[9, 9, 9, 9, 9, 9, 9, 9]",[],[{}],000000
2,1380685355897085952,"[@ShopeeID, Bismillah, yok, menang, ����, SHOP...","[O, O, O, O, O, B-PROD, O, O, O, O]","[30694, 16325, 6049, 13298, 7045, 22088, 30694...","[9, 9, 9, 9, 9, 7, 9, 9, 9, 9]","[[SHOPEE, PROD]]",[{'PROD': 1}],000100
3,1380686115007393792,"[udah, 2, mingguan, tinggal, bareng, teteh, ,,...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-LOC,...","[706, 13336, 7454, 8032, 9392, 7487, 10560, 13...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 11, 9,...","[[jogja, LOC]]",[{'LOC': 1}],010000
4,1380688640611786754,"[@ShopeeID, Potong, buah, semangka, pakai, ala...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-ORG,...","[30694, 10366, 26958, 29080, 23617, 24744, 198...","[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 1, 9, ...","[[MAMAMOO, ORG], [SHOPEE, PROD], [iPhone 12., ...","[{'ORG': 3, 'PROD': 4}]",001100

### hitung jumlah setiap OHE

In [20]:
Counter(data_group.onehot_entities)

Counter({'110000': 457,
         '000000': 2019,
         '000100': 808,
         '010000': 483,
         '001100': 81,
         '100000': 1377,
         '111100': 6,
         '001000': 167,
         '101000': 625,
         '101010': 14,
         '100100': 240,
         '110100': 54,
         '001101': 26,
         '101101': 8,
         '010010': 8,
         '000001': 99,
         '011000': 57,
         '111000': 178,
         '010100': 92,
         '100001': 172,
         '110001': 42,
         '100010': 28,
         '110010': 10,
         '101001': 66,
         '010001': 16,
         '001010': 5,
         '011001': 12,
         '001001': 45,
         '101100': 49,
         '000101': 60,
         '011110': 1,
         '000010': 26,
         '000110': 14,
         '001110': 4,
         '100110': 9,
         '111001': 18,
         '011100': 15,
         '001011': 3,
         '100101': 7,
         '101110': 2,
         '011010': 1,
         '000011': 3,
         '000111': 2,
         '110110': 3,
         '011101': 5,
         '110101': 2,
         '101011': 1,
         '011011': 1,
         '101111': 1,
         '010110': 1,
         '111110': 1,
         '111010': 1})

## Melakukan Stratified K-Fold

In [21]:
X = data_group
y = data_group.onehot_entities
skf = StratifiedKFold(n_splits=5,shuffle=True, random_state=43)

for temp_index, test_index in skf.split(X, y):
    # print("TRAIN:", temp_index, "TEST:", test_index)
    X_temp, X_test = X.iloc[temp_index], X.iloc[test_index]
    y_temp, y_test = y[temp_index], y[test_index]
    # print(Counter(X.iloc[temp_index].onehot_entities).most_common(10),
    #     Counter(X.iloc[test_index].onehot_entities).most_common(10))
    # print(np.bincount(y[temp_index]), np.bincount(y[test_index]))
print()
for train_index, val_index in skf.split(X_temp, y_temp):
    # print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_val = X.iloc[train_index], X.iloc[val_index]
    y_train, y_val = y[train_index], y[val_index]
    # print(Counter(X.iloc[train_index].onehot_entities).most_common(10),
    #     Counter(X.iloc[val_index].onehot_entities).most_common(10))
    # print(np.bincount(y[train_index]), np.bincount(y[test_index]))
# print(Counter(X.iloc[train_index].onehot_entities).most_common(10))
# print(Counter(X.iloc[test_index].onehot_entities).most_common(10))
train_l=X.iloc[train_index].onehot_entities.values
train_c=Counter(train_l)
test_l=X.iloc[test_index].onehot_entities.values
test_c=Counter(test_l)
val_l=X.iloc[val_index].onehot_entities.values
val_c=Counter(val_l)

print(sorted([(i, train_c[i] / len(train_l) * 100.0) for i in train_c],key=lambda x:x[1],reverse=True)[:5])
print(sorted([(i, test_c[i] / len(test_l) * 100.0) for i in test_c],key=lambda x:x[1],reverse=True)[:5])
print(sorted([(i, val_c[i] / len(val_l) * 100.0) for i in val_c],key=lambda x:x[1],reverse=True)[:5])

[('000000', 25.715488215488215), ('100000', 19.234006734006734), ('000100', 10.711279461279462), ('101000', 8.6489898989899), ('010000', 6.25)]
[('000000', 27.205387205387204), ('100000', 18.585858585858585), ('000100', 10.84175084175084), ('101000', 8.417508417508419), ('010000', 6.531986531986532)]
[('000000', 27.18855218855219), ('100000', 19.52861952861953), ('000100', 10.521885521885523), ('101000', 9.427609427609427), ('110000', 6.6498316498316505)]

d:\Drive\KULEEAH\Semester 8\TA Farihin\env\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
d:\Drive\KULEEAH\Semester 8\TA Farihin\env\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

In [39]:
def flatten(t):
    return [item for sublist in t for item in sublist]

print(Counter(flatten(X.iloc[train_index].ner.values)))
print(Counter(flatten(X.iloc[test_index].ner.values)))
print(Counter(flatten(X.iloc[val_index].ner.values)))

# print(sorted([(i, train_c[i] / len(train_l) * 100.0) for i in train_c],key=lambda x:x[1],reverse=True)[:5])

Counter({'O': 95048, 'B-PER': 3694, 'B-PROD': 2270, 'I-PER': 2016, 'B-LOC': 1455, 'B-ORG': 1388, 'I-PROD': 792, 'I-ORG': 785, 'I-EV': 673, 'I-LOC': 615, 'B-EV': 524, 'I-WA': 159, 'B-WA': 99})
Counter({'O': 29507, 'B-PER': 1148, 'B-PROD': 676, 'I-PER': 603, 'B-LOC': 437, 'B-ORG': 389, 'I-PROD': 243, 'I-EV': 199, 'I-LOC': 196, 'I-ORG': 193, 'B-EV': 148, 'I-WA': 47, 'B-WA': 28})
Counter({'O': 23718, 'B-PER': 949, 'I-PER': 531, 'B-PROD': 465, 'B-ORG': 346, 'B-LOC': 336, 'I-EV': 163, 'I-PROD': 161, 'I-ORG': 160, 'I-LOC': 152, 'B-EV': 124, 'I-WA': 45, 'B-WA': 30})

## Export file

In [ ]:
X.iloc[train_index].to_csv('../Dataset/StratifiedKFold/train.csv',index=False)
X.iloc[test_index].to_csv('../Dataset/StratifiedKFold/test.csv',index=False)
X.iloc[val_index].to_csv('../Dataset/StratifiedKFold/val.csv',index=False)
X.iloc[temp_index].to_csv('../Dataset/StratifiedKFold/trainval.csv',index=False)

## Explanatory Data Analysis

In [ ]:
def return_all_entities(data):
    full_entities = []
    prev_tag = "O"
    for index, row in data.iterrows():
        start_tag=row.ner[:1]
        tag= row.ner[2:] if row.ner !='O' else 'O'
        if tag == "O":
            prev_tag = tag
            continue

        if start_tag == 'B': # Begin NE
            full_entities.append([row.token,tag,row.tweet_id])
        elif start_tag == 'I' and prev_tag == tag: # Inside NE
            full_entities[-1][0]  = full_entities[-1][0]+" "+ row.token
        prev_tag = tag

    for row in full_entities:
        row.append(len(row[0].split(" ")))
        
    return pd.DataFrame(full_entities, columns=['token','ner','tweet_id','count_token'])

In [ ]:
all_entities=return_all_entities(data)
all_entities

In [ ]:
dict(all_entities.ner.value_counts())

In [ ]:
#count total of named entities within a tweet 
dict(all_entities.count_token.value_counts())

In [ ]:
#show all tweet that contains exactly 5 NEs 
all_entities[all_entities.count_token==5]

In [7]:
## count token length on all tweets
data.groupby('tweet_id').size().reset_index(name='token')

                 tweet_id  token
0     1380681275594305537     29
1     1380685209075544064      8
2     1380685355897085952     10
3     1380686115007393792     21
4     1380688640611786754     41
...                   ...    ...
7420  1391611459931541506     45
7421  1391612015286702084     34
7422  1391614165182128130     21
7423  1391614604388622337     53
7424  1391615089514475525     19

[7425 rows x 2 columns]

In [ ]:
data.loc[data['ner'] == 'B-PER', 'token']

In [ ]:
data.groupby('ner').size().reset_index(name='count tag')
# data[data.tweet_id==1382900960721207300]

In [ ]:
#Words distribution across Tags without O tag
plt.figure(figsize=(10, 4))
ax = sns.countplot('ner', data=data.loc[data['ner'] != 'O'])
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="center")
plt.tight_layout()
plt.show()