In [1]:
import numpy as np
import pandas as pd

In [2]:
df_political = pd.read_csv('raw/pr_politicalresearch_3551.csv')
df_political = df_political.sample(df_political.shape[0])
df_political

,id,created_at,text,table_name,table_schema,user_id,user_name,user_screen_name,user_description,user_followers_count,rn
3439,1391565165703794688,2021-05-10 01:26:04 UTC,AMI�� A Muhaimin Iskandar (@cakimiNOW) menge-T...,muhaiminiskandar_aspect,pr_politicalresearch,988044680,achmad maulani,MaulaniSmg,Fokus dan disiplin,70,1
1010,1391168984888737792,2021-05-08 23:11:47 UTC,"Kata Gubernur Jatim, beberapa indikator menunj...",khofifah_aspect,pr_politicalresearch,1353897344488497152,Dita Olivia,DitaOlivia18,Chicken Piyik,32,1
106,1390127020869251075,2021-05-06 02:11:23 UTC,@tatakujiyati @PrilHuseno Mantap banget Bapak ...,prabowo_aspect,pr_politicalresearch,1132892112729436160,Doraemon_,Dorraemon_,��Pencinta:AL-HABIB MUHAMMAD RIZIEQ BIN HUSSEI...,7046,1
1512,1382160737548701697,2021-04-14 02:36:13 UTC,@detikcom Saya setuju. Megawati sbg anak Soeka...,megawati_aspect,pr_politicalresearch,250535348,Eagles Fly Alone®,Rawit234234,Menjaga NKRI tanpa toleransi terhadap infiltra...,203,1
2425,1390405754381762563,2021-05-06 20:38:58 UTC,Ketua DPR Puan Maharani meminta pemerintah men...,puanmaharani_aspect,pr_politicalresearch,1387163618135793669,Abila,Abila57236153,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1197,1383612414902489093,2021-04-18 02:44:40 UTC,"Agar tepat sasaran, Gubernur Jawa Timur memint...",khofifah_aspect,pr_politicalresearch,1347411213676777472,Kamelia Arianti,AriantiKamelia,new acc,21,1
1789,1384778942020669448,2021-04-21 08:00:02 UTC,"Jadi Sorotan dan Diterpa Isu Reshuffle, Mendik...",megawati_aspect,pr_politicalresearch,1255738688534790144,Tribun Solo,Tribun_Solo,Berita terkini Solo Raya - Official Twitter ht...,103,1
3336,1384839844594135040,2021-04-21 12:02:02 UTC,@rmol_id Kadrun labeling PKI untuk Islam tapi ...,muhaiminiskandar_aspect,pr_politicalresearch,1363799249259880451,DaTar169,DTar169,Dampak kesaksian palsu mulai terasa #mudharat,206,1
153,1382328477114781700,2021-04-14 13:42:46 UTC,"""Pokoknya, nomor 2 presiden dan wakil presiden...",prabowo_aspect,pr_politicalresearch,1350752211966414850,Anisa Sekarti Ningrum,sekarti_ningrum,NaN,9,1
2697,1386799421988298752,2021-04-26 21:48:42 UTC,RT @ZahrilLabung: @vandinnie @aniesbaswedan @L...,aniesbaswedan_aspect,pr_politicalresearch,1346819369104416768,GVD VANDINNIE,vandinnie,������������,519,1

In [3]:
from pathlib import Path
import pandas as pd
dfs = []
for filepath in Path("./raw/").glob("pr*.csv"):
    print(filepath)
    this_df = pd.read_csv(filepath)
    dfs.append(this_df)

df = pd.concat(dfs)
df = df.sample(df.shape[0])
df.drop(['rn'], axis=1, inplace=True)
df = df.reset_index(drop=True)

raw\pr_ikoninsight_691.csv
raw\pr_ikonreport_1003.csv
raw\pr_indekspersepsikonsumen_1005.csv
raw\pr_nergeneral_3035.csv
raw\pr_politicalresearch_3551.csv
raw\pr_ten10bali_734.csv

In [4]:
df

,id,created_at,text,table_name,table_schema,user_id,user_name,user_screen_name,user_description,user_followers_count
0,1386994503643328515,2021-04-27 10:43:53 UTC,“Jika pak Anies memiliki kinerja yang baik di ...,aniesbaswedan_aspect,pr_politicalresearch,309025729,William Aditya Sarana,willsarana,Anggota DPRD DKI Jakarta @psi_id,21051
1,1390101690892709891,2021-05-06 00:30:44 UTC,Itu yang study tour ke Borobudur nggak sekalia...,borobudur_aspect,pr_ten10bali,1165536758701813760,GhopunxAsq,GhopunxAsq,"pada setiap langkah, tinggalkanlah jejak yang ...",99
2,1383040474101927939,2021-04-16 12:51:59 UTC,@WAYTOTHEClTY Gimana nie tante dah ujian belom...,nerpendidikan_aspect,pr_nergeneral,1124897106307604480,Tata��,brunbrunzz,시원 and 쟈니�� �������������� ���������� ���� ���...,1180
3,1391500871574327299,2021-05-09 21:10:35 UTC,"LAGU , PAK RIDWAN KAMIL . https://t.co/lviD8BgxOd",ridwankamil_aspect,pr_politicalresearch,2549357702,sabar setiabudi,sabar_setiabudi,"Topografi , Mekanika tanah fondasi dan Artesis...",772
4,1388552457517604871,2021-05-01 17:54:38 UTC,@geloraco Rizal Ramli Sentil Megawati Soal Uta...,megawati_aspect,pr_politicalresearch,1103951806617411589,Zahrah Hasan,Zahrah40291660,NaN,6251
...,...,...,...,...,...,...,...,...,...,...
10014,1385593524238749698,2021-04-23 13:56:53 UTC,@DKTHVNTE Kasian nnti sakit ya ��,nerkesehatan_aspect,pr_nergeneral,1291375566935822341,tam.,scharfela,(she/her) Just believe in your dream!! ^♡^,1033
10015,1387322147643682816,2021-04-28 08:25:49 UTC,"@qronoz Kenapa sih kalian tega, sudah di gaji ...",gajibonus_aspect,pr_indekspersepsikonsumen,1267890788022673408,Es Goyang,Abess83,Content Creator of Youtube • HDC Entertainment,102
10016,1386587619010629640,2021-04-26 07:47:04 UTC,Kejadian Ridwan Kamil cuci muka pakai odol ini...,ridwankamil_aspect,pr_politicalresearch,1341772746259222528,mapaybandungcom,mapaybandungcom,Part of Pikiran Rakyat Media Network (PRMN) | ...,1267
10017,1387447524013711360,2021-04-28 16:44:01 UTC,Nama Menhan Prabowo Subianto Muncul di Sidang ...,prabowo_aspect,pr_politicalresearch,1211445770341113856,Moesa J Perangin-angin,moesa_jp02,Anak Kuta Prestasi Kota Pendukung Pancasila-UU...,3804
10018,1385951165968306176,2021-04-24 13:38:02 UTC,Ternyta gue sm renjun sama sama ngrasain gigi ...,nerkesehatan_aspect,pr_nergeneral,1123496485612544002,adelle • streamvote ��☀️,classygirlv,#태용 #런쥔 #아사히 #규 tHinker��,2609

In [5]:
df.groupby('table_schema').count()

,id,created_at,text,table_name,user_id,user_name,user_screen_name,user_description,user_followers_count
table_schema,,,,,,,,,
pr_ikoninsight,691,691,691,691,691,691,691,594,691
pr_ikonreport,1003,1003,1003,1003,1003,1003,1003,866,1003
pr_indekspersepsikonsumen,1005,1005,1005,1005,1005,1005,1005,871,1005
pr_nergeneral,3035,3035,3035,3035,3035,3035,3035,2662,3035
pr_politicalresearch,3551,3551,3551,3551,3551,3551,3551,2972,3551
pr_ten10bali,734,734,734,734,734,734,734,654,734

In [6]:
df[df.table_schema=='pr_politicalresearch'].groupby('table_name').count().sort_values('id')

,id,created_at,text,table_schema,user_id,user_name,user_screen_name,user_description,user_followers_count
table_name,,,,,,,,,
yusrilihza_aspect,7,7,7,7,7,7,7,4,7
ahmadsyaikhu_aspect,20,20,20,20,20,20,20,18,20
suharsomonoarfa_aspect,24,24,24,24,24,24,24,23,24
wiranto_aspect,37,37,37,37,37,37,37,31,37
zulkiflihasan_aspect,40,40,40,40,40,40,40,31,40
suryapaloh_aspect,51,51,51,51,51,51,51,48,51
puanmaharani_aspect,110,110,110,110,110,110,110,80,110
airlangga_aspect,188,188,188,188,188,188,188,149,188
agusyudhoyono_aspect,189,189,189,189,189,189,189,171,189
muhaiminiskandar_aspect,237,237,237,237,237,237,237,205,237
aniesbaswedan_aspect,262,262,262,262,262,262,262,206,262
ganjarpranowo_aspect,300,300,300,300,300,300,300,239,300
ridwankamil_aspect,314,314,314,314,314,314,314,273,314
megawati_aspect,405,405,405,405,405,405,405,338,405
prabowo_aspect,524,524,524,524,524,524,524,439,524
khofifah_aspect,843,843,843,843,843,843,843,717,843

In [41]:
df=pd.concat([
    df[df.table_schema=='pr_ikoninsight'].groupby('table_name').count(),
    df[df.table_schema=='pr_ikonreport'].groupby('table_name').count(),
    df[df.table_schema=='pr_indekspersepsikonsumen'].groupby('table_name').count(),
    df[df.table_schema=='pr_ten10bali'].groupby('table_name').count()
])

In [40]:
gb_ikon= df[df.table_schema=='pr_ikoninsight'].groupby('table_name').size().reset_index(name='counts')
gb_ikon["Table"]= 'pr_ikoninsight'
gb_ikon=gb_ikon[["Table","table_name","counts"]]
gb_ikon

             Table               table_name  counts
0   pr_ikoninsight         alatsolat_aspect      15
1   pr_ikoninsight   belanjaramadhan_aspect      62
2   pr_ikoninsight           beramal_aspect      56
3   pr_ikoninsight            bukber_aspect      92
4   pr_ikoninsight  comfortfoodpuasa_aspect      23
5   pr_ikoninsight      elearndevice_aspect       1
6   pr_ikoninsight      gratisongkir_aspect       9
7   pr_ikoninsight    hamperslebaran_aspect       7
8   pr_ikoninsight      ibadahdiluar_aspect       6
9   pr_ikoninsight     kangenbioskop_aspect      11
10  pr_ikoninsight    konsumsitakjil_aspect      37
11  pr_ikoninsight      kreditgadget_aspect      13
12  pr_ikoninsight    kreditproperti_aspect       5
13  pr_ikoninsight    kumpulkeluarga_aspect       3
14  pr_ikoninsight    makananramadan_aspect      41
15  pr_ikoninsight             miras_aspect      32
16  pr_ikoninsight             mudik_aspect       7
17  pr_ikoninsight        ngabuburit_aspect      52
18  pr_ikoninsight     pakaianmuslim_aspect      20
19  pr_ikoninsight    savingbehavior_aspect      28
20  pr_ikoninsight               thr_aspect     127
21  pr_ikoninsight            vaksin_aspect      44

In [39]:
gb_ner= df[df.table_schema=='pr_nergeneral'].groupby('table_name').size().reset_index(name='counts')
gb_ner["Table"]= 'pr_nergeneral'
gb_ner=gb_ner[["Table","table_name","counts"]]
gb_ner

           Table             table_name  counts
0  pr_nergeneral  nerbencanaalam_aspect     161
1  pr_nergeneral     nerinternet_aspect     409
2  pr_nergeneral    nerkesehatan_aspect    1174
3  pr_nergeneral     nerolahraga_aspect     203
4  pr_nergeneral   nerpendidikan_aspect     881
5  pr_nergeneral       nersocmed_aspect     207

In [36]:
df_gb=df[(df.table_schema!='pr_politicalresearch') & (df.table_schema!='pr_nergeneral')].groupby('table_name')
# df_grouped=df[(df.table_schema!='pr_politicalresearch') & (df.table_schema!='pr_nergeneral')].groupby('table_name').count().sort_values('id')
count_gb=df_gb.size().reset_index(name='counts')
count_gb.table_schema
# df_gb['Table'] = df_gb.table_schema
# df_gb=df_grouped[['Table','table_name','id']]
# df_grouped[df_grouped.id>10]

# df_grouped=df[(df.table_schema!='pr_politicalresearch') & (df.table_schema!='pr_nergeneral')].groupby('table_name').count().sort_values('id')
# df_grouped['Table'] = df.table_schema
# # df_grouped=df_grouped[['Table','table_name','id']]
# df_grouped.groups

AttributeError: 'DataFrame' object has no attribute 'table_schema'

In [29]:
# df.to_csv('dataset skripsi/NER_final.csv')
# df[['id','text']].to_csv('dataset skripsi/NER_final.txt', header=None, index=None, sep=' ', mode='a')

In [9]:
df

,id,created_at,text,table_name,table_schema,user_id,user_name,user_screen_name,user_description,user_followers_count
0,1384513597846392834,2021-04-20 14:25:39 UTC,Yuhuu aku lagi flash sale Youtube premium 1 bu...,hiburan_aspect,pr_indekspersepsikonsumen,1379694619949113346,alee | Dagang Apps premium,alrdssera,New but Trusted. Akun jualan ^^,51
1,1389883148108926986,2021-05-05 10:02:19 UTC,@ShopeeID Shopee Pilihanku �� #ShopeeRamadanEk...,ecommerce_aspect,pr_ikonreport,1146784083378180098,��,saturdaeo,NaN,0
2,1383807931137740800,2021-04-18 15:41:35 UTC,@zaloraidn @GalantIrma @kapt_amerika @donaokta...,nerinternet_aspect,pr_nergeneral,1334782633088143360,irma,irmaglnt,.,3
3,1388158589160722438,2021-04-30 15:49:33 UTC,singkat tp bkin sakit perut������,nerkesehatan_aspect,pr_nergeneral,1285870777888206848,berry,bewryseo,24/7 thinking out loud about han jisung,1635
4,1381887662299127808,2021-04-13 08:31:07 UTC,"Anggota Komisi I DPR RI Fraksi Partai Golkar, ...",prabowo_aspect,pr_politicalresearch,350668803,INDOZONE,indozonemedia,INDOZONE - #KAMUHARUSTAU The Most Engaging Med...,1783351
...,...,...,...,...,...,...,...,...,...,...
10014,1382973276834590723,2021-04-16 08:24:58 UTC,@tokopedia YA KALI NGGAK KUY #TokopediaxTHEBOY...,ecommerce_aspect,pr_ikonreport,1316410661497257984,nana,onyourtbz,SHE/HER 7TEEN �� #THEBOYZ SUPPORT SYSTEM % .. !!,150
10015,1384852372405501960,2021-04-21 12:51:49 UTC,"yg bawa2 ""kan perempuan harusnya ibadah di rum...",ibadahdiluar_aspect,pr_ikoninsight,1141277905558704128,diba,milctears,megumi jidatmu semangatku,58
10016,1389306563639201793,2021-05-03 19:51:11 UTC,Kalo mau dateng bulan. Rasanya kaya badan saki...,nerkesehatan_aspect,pr_nergeneral,537847769,'yerrr,MamanyaTaeyong,"Hi! Welcome! �� || This user sometimes clingy,...",1777
10017,1389518078866776064,2021-05-04 09:51:40 UTC,"@KPU_ID 1. #TemanPemilih, Data Pemilih Tetap (...",nerkesehatan_aspect,pr_nergeneral,1075582962542903296,@KPU_Kabupaten Kutai Timur,kabkutim,NaN,81
10018,1391274227265798150,2021-05-09 06:09:59 UTC,"Untuk zakat Fitrah, kalian lebih suka bayarnya",beramal_aspect,pr_ikoninsight,982130453598552064,Jon Ruah Ginting,JonRuahGinting,"Awak ko apo na lah, jan kan urang, langau se s...",1223

In [10]:
amt_of_twt= [300,300,500,500,600,500,600]
sum(amt_of_twt)

3300

In [17]:
start_id=0
end_id=0
dfs=list()
for i in amt_of_twt:
    end_id+=i
    print(start_id,end_id)
    dfs.append(df.loc[start_id:end_id])
    start_id+=i
    # print(start_id,end_id)
    print()

0 300

300 600

600 1100

1100 1600

1600 2200

2200 2700

2700 3300

In [26]:
dfs[6]

,id,created_at,text,table_name,table_schema,user_id,user_name,user_screen_name,user_description,user_followers_count
2700,1391180638598828033,2021-05-08 23:58:05 UTC,"@renjounh wKWKWKWK, aku nyuruh dia stay sama a...",nerkesehatan_aspect,pr_nergeneral,1375989242514432002,��ezan， #HotSauce,ryvjeans,#cyberfan、いちごミルクが大好きな人とイ・ヘチャンもパク・ジソン！♡ — mas a...,262
2701,1388620164585779200,2021-05-01 22:23:41 UTC,@jntexpressid NGABUBURIT BARENG JNT. NONTON LI...,ngabuburit_aspect,pr_ikoninsight,1276163453879803905,Prasista Noren,jeynoong,NaN,1
2702,1388463970743324687,2021-05-01 12:03:01 UTC,@Ikhsanadipp contohnya sprti memgerjakan skripsi,nerpendidikan_aspect,pr_nergeneral,772386376713064448,paud kohl,_nugrohowisnuuu,fortis fortuna adiuvat,192
2703,1385624716036116480,2021-04-23 16:00:50 UTC,@yaaiyoo But I'm not. Perlu ke Jogja kayaknya nih,borobudur_aspect,pr_ten10bali,1083780444162711552,kueberas,ulfayaaaa,Newgurl,60
2704,1382342129658187776,2021-04-14 14:37:01 UTC,who cant resist vs body mist sale? ME. walopun...,peralatanpribadi_aspect,pr_indekspersepsikonsumen,162612639,aye,alifyaaz,me·tic·u·lous,666
...,...,...,...,...,...,...,...,...,...,...
3296,1388776178987651075,2021-05-02 08:43:37 UTC,@greenteasbx mau penelitian buat bahan skripsi...,nerpendidikan_aspect,pr_nergeneral,2472039337,agagaduh,fthnniam,pilih dia yang keluarganya menerima kamu,1552
3297,1380837137906475009,2021-04-10 10:56:43 UTC,@yoogeumbyul Gempanya dijatim tapi sampe ke jogja,borobudur_aspect,pr_ten10bali,1108046844628619264,��,faustinarzs,All the colors and personalities. you can’t se...,8
3298,1389040309640712192,2021-05-03 02:13:11 UTC,@ShopeeID Bismillah semoga bisa menang motor��...,ecommerce_aspect,pr_ikonreport,783179637962649601,Ian,ianAnsah,Sedang ikut GIVEAWAY Shopee ������ Semoga mena...,49
3299,1390630363739738117,2021-05-07 11:31:30 UTC,"@bayu_joo To be honest, ingin staycation ke BA...",borobudur_aspect,pr_ten10bali,1388434708334190593,Priska,Priskaa07,NaN,0
3300,1384996005528014848,2021-04-21 22:22:34 UTC,Bergamask by Orto Parisi Parfum Spray (Unisex)...,peralatanpribadi_aspect,pr_indekspersepsikonsumen,1368334161002389506,Fragrances Health and Beauty,fragrances_and,"Fragrances, Health and Beauty. Selected Items....",4