In [1]:
import pandas as pd

In [6]:
train_df =pd.read_csv("simpletransformers\\train.csv")
eval_df =pd.read_csv("simpletransformers\\val.csv")
test_df =pd.read_csv("simpletransformers\\test.csv")

In [7]:
train_df

                sentence_id                    words labels
0       1380681275594305537             @ridwankamil      O
1       1380681275594305537            @KickAndyShow      O
2       1380681275594305537                @Metro_TV      O
3       1380681275594305537                    Upaya      O
4       1380681275594305537                    untuk      O
...                     ...                      ...    ...
109513  1389452349618327554                       ^^      O
109514  1389452349618327554                     ��dm      O
109515  1389452349618327554                      for      O
109516  1389452349618327554                    order      O
109517  1389452349618327554  https://t.co/JhYKfkpOux      O

[109518 rows x 3 columns]

In [8]:
train_df.labels.value_counts()

O         95048
B-PER      3694
B-PROD     2270
I-PER      2016
B-LOC      1455
B-ORG      1388
I-PROD      792
I-ORG       785
I-EV        673
I-LOC       615
B-EV        524
I-WA        159
B-WA         99
Name: labels, dtype: int64

In [9]:
eval_df.labels.value_counts()

O         23718
B-PER       949
I-PER       531
B-PROD      465
B-ORG       346
B-LOC       336
I-EV        163
I-PROD      161
I-ORG       160
I-LOC       152
B-EV        124
I-WA         45
B-WA         30
Name: labels, dtype: int64

In [10]:
test_df.labels.value_counts()

O         29507
B-PER      1148
B-PROD      676
I-PER       603
B-LOC       437
B-ORG       389
I-PROD      243
I-EV        199
I-LOC       196
I-ORG       193
B-EV        148
I-WA         47
B-WA         28
Name: labels, dtype: int64