In [2]:
import pandas as pd

In [28]:
train_df =pd.read_csv("simpletransformers\\train.csv")
val_df =pd.read_csv("simpletransformers\\val.csv")
test_df =pd.read_csv("simpletransformers\\test.csv")

In [4]:
train_df

                sentence_id                    words labels
0       1380681275594305537             @ridwankamil      O
1       1380681275594305537            @KickAndyShow      O
2       1380681275594305537                @Metro_TV      O
3       1380681275594305537                    Upaya      O
4       1380681275594305537                    untuk      O
...                     ...                      ...    ...
109513  1389452349618327554                       ^^      O
109514  1389452349618327554                     ��dm      O
109515  1389452349618327554                      for      O
109516  1389452349618327554                    order      O
109517  1389452349618327554  https://t.co/JhYKfkpOux      O

[109518 rows x 3 columns]

In [29]:
train_df.loc[train_df.labels.str.contains(r'((?:B|I)-(?:WA|EV))')==True,"labels"]='O'
test_df.loc[test_df.labels.str.contains(r'((?:B|I)-(?:WA|EV))')==True,"labels"]='O'
val_df.loc[val_df.labels.str.contains(r'((?:B|I)-(?:WA|EV))')==True,"labels"]='O'

ipykernel_launcher:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
ipykernel_launcher:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
ipykernel_launcher:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [34]:
train_df.to_csv("simpletransformers_4//train.csv")
test_df.to_csv("simpletransformers_4//test.csv")
val_df.to_csv("simpletransformers_4//val.csv")